div.entrypage, html {
  background-color: rgb(29, 21, 21);
}

.login {
  display: -ms-flexbox;
  display: flex;
}

.login.row{
  min-height: 375px;
  height: 30vw;
  align-items: center;
}

.login-hide-auth-error, .hide-crash, .noScore {
  visibility:hidden;
}

.login-auth-error {
  text-align: center;
}

.sub-button {
  margin-bottom: 10px;
}

.footer {
  display: flex;
  justify-items: space-between;
  color: whitesmoke;
  margin: 2em;
}

div.foot-item{
  padding: 1em;
}

nav.nav {
  height: 6em;
  margin-bottom: 2em;
  background-image: url("../imgs/pano.jpg");
  background-size: 100% 100%; 
  display: flex;
  justify-content: center;
}

nav .title {
  color: whitesmoke;
  text-shadow: black 3px 3px;
  top: .75em;
  position: absolute;
}

div.container {
  background-image: url("../imgs/MarsBackground.png");
  height: 120%;
}


/*-----------------------HomePage stuff below------------------------*/
#letters {
  background-color:  rgb(196, 184, 184);
}

#navhome {
  margin-bottom: 0em;
}

.rwlet {
  display: flex;
  padding: 1em;
}

.letter {
  background-color: whitesmoke;
  color: black;
  font-weight: bold;
  margin: 2px;
  margin-left: .5em;
  margin-right: .5em;
}
  
.letter:hover{
  background-color: red;
}

.undoAction {
  color:rgb(34, 78, 172);
  text-decoration: underline;
}

.undoAction:hover,.backButton:hover{
  color: rgb(94, 134, 221);
}

.backButton{
  font-weight: bold;
  position:absolute;
  color:rgb(255, 255, 255);
  text-shadow: rgb(0, 0, 0) 1px 1px;
  text-decoration: underline;
}

/*----------------------------*/
.login-form {
 width: 100%;
 max-width: 330px;

 padding: 15px;
 margin: auto;
 margin-top: 1em;
 margin-bottom: 1em;
 background-color: #f5f5f5;
 font-size: 16px;
}

.login-form input[type="text"] {
 margin-bottom: 10px;
 border-bottom-right-radius: 0;
 border-bottom-left-radius: 0;
}

.login-form input[type="password"] {
 margin-bottom: 5px;
 border-top-left-radius: 0;
 border-top-right-radius: 0;
}
/*-----------------------------*/
.enemy {
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}

.img {
  height: 22vh;
  width: 15vw;
}

@media (max-height: 1080px){
  .roverimg {
    width: 3.5em;
    height: 3.5em;
  }

  .gbLetter{
    font-size: 18pt;
  }

  div.foot-item p{
    font-size: 18px;
  }

  .sidebar {
    background-color: rgb(196, 184, 184);
    padding-top: 2em;
    padding-bottom: 2em;
  }
  
  .gameActions button {
    padding: 8px;
    margin: 5px;
  }
  
  .gameActions p.game{
    font-weight: bold;
  }

  .letter {
    padding: 5px;
    font-size: 18pt;
  }
  
  .undoAction {
      font-size: 14px;
  }
  
  .backButton{
    font-size: 18px;
    top:27px;
    left:27px;
  }

  .gridbox {
    width: 5.5em;
    height: 5.5em;
    padding: 1px;
    border: 1px solid black;
    background-color: whitesmoke;
  }
}

@media (max-height:768px) {
  .roverimg {
    width: 3em;
    height: 2.5em;
  }

  .gbLetter{
    font-size: 14pt;
  }

  div.foot-item p{
    font-size: 16px;
  }

  .sidebar {
    background-color: rgb(196, 184, 184);
    padding-top: 1em;
    padding-bottom: 1em;
  }
  
  .gameActions button {
    padding: 6px;
    margin: 3px;
  }
  
  .gameActions p.game{
    font-weight: bold;
  }

  .letter {
    font-size: 16pt;
    padding: 3.5px;
  }

  .undoAction {
      font-size: 12px;
  }
  
  .backButton{
    font-size: 16px;
    top:23px;
    left:23px;
  }
  
  .gridbox {
    width: 4.5em;
    height: 4.5em;
    padding: 1px;
    border: 1px solid black;
    background-color: whitesmoke;
  }
}

/* ------------------- map grid ---------------------- */

.mapgrid {
  display: flex;
  position: absolute;
  margin:auto;
  flex-direction: row;
  padding-top: 1em;
  padding-bottom: 1em;
}

.gridrw {
  display: flex;
  flex-direction: column-reverse;
}

.crash {
  background-color: rgb(163, 10, 10);
  color: whitesmoke;
  margin: .5em;
  padding: .5em;
  border-radius: 25px;
  font-weight: bold;
}

.extras{
 margin: 1em;
 display: flex;
 flex-direction: column;
}

.compass {
  border-radius: 100%;
  margin: .5em;
  height: 8em;
  width: 8em;
  background-color: whitesmoke;
}

.myturn, .notmyturn, .showScore {
  color: whitesmoke;
  margin: .5em;
  padding: .5em;
  border-radius: 25px;
  font-weight: bold;
  width: fit-content;
}

.notmyturn {
  background-color: rgb(163, 10, 10);
}

.myturn, .showScore {
  background-color: rgb(24, 116, 8);
}

p.instructions {
  height: .5em;
}

p.roverPos {
  font-size: 30px;
  font-weight: bold;
  color: rgb(141, 29, 29);
}

div.winner {
 margin: .5em;
 display: flex;
 flex-direction: column;
 align-items: center;
}

#winPic {
  max-width: 80%;
  max-height: 80%;
}

#winPara {
  background-color: rgb(61, 121, 61);
  padding: .5em;
  margin: .5em;
  color: whitesmoke;
  font-size: 1em;
  border-radius: 25px;
  font-weight: bold;
  width: fit-content;
}